<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <%= image_tag(post.image, class: "card-img-top", height: 225) if post.image %>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= truncated_content %></p>
      <div class="d-flex justify-content-end align-items-center">
        <%= render(Posts::ButtonGroupComponent.new(post: post, show: true, edit: true, delete: true)) %>
      </div>
    </div>
  </div>
</div>
